@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  outline: none;
}

:root {
  --back: #ffffff;
  --box_shadow_color: #b1b7bb;
  --nav_height: 50px;
  background-color: var(--back, #ffffff);
  color-scheme: light dark;
  font-family: Inter, "Pretendard Variable", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  :root {
    --back: #111318;
    --box_shadow_color: #06090a;
  }
}

body {
  margin: 0;
}


/*.logo, */ site-logo {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 200%;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  color: initial;
}

site-logo:hover {
  color: initial;
}

.logo-bit {
  color: rgb(0, 132, 255);
  font-weight: 900;
}
.logo-dot { padding-inline: clamp(1px, 1%, 5px); }
.logo-nemi { font-weight: 900; }
.logo-dev { font-weight: 100; }

@media (prefers-color-scheme: dark) {
  .logo-bit {
    color: rgb(37, 199, 255);
  }
}

site-nav {
  position: sticky;
  top: 0;
  height: var(--nav_height, 50px);
  box-sizing: border-box;
  padding-inline: 10px;
  background-color: var(--back);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

site-nav a {
  display: inline-block;
  padding: 8px 16px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

site-nav site-logo {
  font-size: 24px;
}

[wiki-list] a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}