site-logo {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  color: initial;
}

site-logo:hover {
  color: initial;
}

.logo-bit {
  color: rgb(0, 132, 255);
  font-weight: 900;
}
.logo-dot { padding-inline: clamp(1px, 1vw, 3px); }
.logo-nemi { font-weight: 900; }
.logo-dev { font-weight: 100; }

@media (prefers-color-scheme: dark) {
  .logo-bit {
    color: rgb(37, 199, 255);
  }
}

site-nav {
  position: sticky;
  top: 0;
  height: var(--nav_height, 50px);
  box-sizing: border-box;
  padding-inline: 10px;
  background-color: var(--back);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

site-nav a {
  display: inline-block;
  padding: 4px 8px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

site-nav site-logo {
  font-size: 24px;
}

[wiki-list] a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

main {
  width: clamp(300px, var(--width, 60vw), 1000px);
  margin: auto;
  padding-block: 5svh;
}

pre {
  line-height: 1.2em;
}

.Card {
  padding: 8px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: var(--back);
  box-shadow: 3px 3px 6px var(--box_shadow_color);
  border: 1px solid rgba(126, 130, 131, 0.486);
  transition: box-shadow 0.1s ease-in;
}

.Card:hover {
  box-shadow: 0 0 10px white, 3px 3px 6px var(--box_shadow_color);
}


#GridWrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
}

@media screen and (max-width: 767px) {
  #GridWrapper {
    display: block;
  }
}

.ResponsiveWrapper {
  width: calc(100vw - 20px);
  margin: auto;
  padding: 8px;
  display: flex;
  align-items: stretch;
  gap: 8px;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
}

.ResponsiveWrapper > * {
  flex-basis: min(var(--basis), 90vw);
  flex-grow: 1;
}





pre[data-filename]::before {
  content: attr(data-filename);
}

pre::before {
  display: block;
  width: fit-content;
  margin-inline: auto 0;
  padding: 2px;
  font-size: 75%;
  border: 1px solid rgba(179, 229, 245, 0.637);
  border-radius: 8px;
  pointer-events: none;
}




@media screen and (min-width: 769px) {
  :root {
    --basis: 24vw;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --basis: 32vw;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --basis: 90vw;
  }
}


