a {
  color: rgb(18, 177, 156);
  text-decoration: none;
  transition: color 0.1s ease-in;

  &:hover {
    color: rgb(162, 0, 255);
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: rgb(96, 255, 215);

    &:hover {
      color: rgb(204, 115, 255);
    }
  } 
}

h1 {
  text-align: center;
  font-size: 48px;
  margin: 0;
}


#GridWrapper {
  display: grid;
  grid-template-columns: 160px 1fr;
}

@media (max-width: 800px) {
  #GridWrapper {
    display: block;
  }
}




ul {
  margin: 0;
  padding: 20px;
}



.CenterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.QuickFlexRow {
  display: flex;
  flex-direction: row;
  align-content: center;
}