header {
  padding-block: 1svh;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

/* pre {
  white-space: pre-wrap;
} */

.Card {
  max-width: calc(100vw - 32px);
}

@media screen and (min-width: 769px) {
  :root {
    --basis: 32vw;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --basis: 48vw;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --basis: 90vw;
  }
}

