a {
  color: rgb(255, 0, 128);
  text-decoration: none;

  &:hover {
    color: orangered;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: rgb(255, 96, 192);

    &:hover {
      color: rgb(96, 192, 255);
    }
  } 
}

h1 {
  text-align: center;
  font-size: 48px;
  margin: 0;
}


#GridWrapper {
  display: grid;
  grid-template-columns: 160px 1fr;
}

@media (max-width: 800px) {
  #GridWrapper {
    display: block;
  }
}

header {
  padding-block: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  grid-column: 1 / -1;
  position: relative;
}

nav {
 position: sticky;
 top: 0;
 align-self: start;
}

ul {
  margin: 0;
  padding: 20px;
}

main {
  padding: 20px;
}

.author {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
}
